<launch>

  <!-- Gazebo Options -->
  <arg name="paused" default="false" doc="True to start the simulation on a PAUSED state" />
  <arg name="gui" default="true"  doc="True to launch the Gazebo GUI" />
  <arg name="debug" default="false" doc="True to: execute Gazebo with gdb." />
  <arg name="model_name" default="carpincho" doc="Name for the Gazebo model instance" />
  <arg name="use_gazebo_ros_control" default="false" doc="True to use the gazebo_ros_control plugin" />

 <!-- Starting Pose Options  -->
  <arg name="initial_pose_x" default="0.0" doc="Initial pose of the carpincho on the x axis" />
  <arg name="initial_pose_y" default="0.0" doc="Initial pose of the carpincho on the y axis" />
  <arg name="initial_pose_z" default="0.0" doc="Initial pose of the carpincho on the x axis" />
  <arg name="initial_pose_yaw" default="0.0" doc="Initial yaw orientation of the mover" />

  <param name="robot_description"
      command="$(find xacro)/xacro '$(find carpincho_simulation)/urdf/carpincho.gazebo.xacro' 
              use_gazebo_ros_control:=$(arg use_gazebo_ros_control)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="debug" value="$(arg debug)" />
  </include>  

    <node name="carpincho_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param /robot_description -model $(arg model_name)
              -x $(arg initial_pose_x) -y $(arg initial_pose_y) -z $(arg initial_pose_z)
              -R 0 -P 0 -Y $(arg initial_pose_yaw) -robot_namespace $(arg model_name)" /> 

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <param name="use_tf_static" value="true"/>
      <param name="robot_description" value="robot_description"/>    
    </node>

  <group if="$(arg use_gazebo_ros_control)"> 
      <rosparam file="$(find carpincho_control)/config/carpincho_control.yaml" command="load" />
      <rosparam file="$(find carpincho_simulation)/config/carpincho_control_sim.yaml" command="load" />
  
      <node name="control_spawner" pkg="controller_manager" type="spawner"
            ns="carpincho" args="mobile_base_controller joint_state_controller" output="screen"/>
  </group>

</launch>
