<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- TODO(francocipollone): This xacro should be part of andino_control package instead.-->
  <ros2_control name="RealRobot" type="system">
    <hardware>
      <plugin>andino_base/DiffDriveAndino</plugin>
      <!-- TODO(francocipollone): Parameters like loop_rate, device, baud_rate, etc should be loaded from a file or passed via the launch file as xacro args -->
      <param name="left_wheel_name">left_wheel_joint</param>
      <param name="right_wheel_name">right_wheel_joint</param>
      <param name="serial_device">/dev/ttyUSB_ARDUINO</param>
      <param name="baud_rate">57600</param>
      <param name="timeout">1000</param>
      <param name="enc_ticks_per_rev">585</param>
      <param name="imu_sensor_name">imu_sensor</param>
    </hardware>
    <joint name="left_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-5</param>
        <param name="max">5</param>
      </command_interface>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="right_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-5</param>
        <param name="max">5</param>
      </command_interface>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <sensor name="imu_sensor">
      <state_interface name="imu_sensor/1"/>
      <state_interface name="imu_sensor/2"/>
      <state_interface name="imu_sensor/3"/>
      <state_interface name="imu_sensor/4"/>
      <state_interface name="imu_sensor/5"/>
      <state_interface name="imu_sensor/6"/>
      <state_interface name="imu_sensor/7"/>
      <state_interface name="imu_sensor/8"/>
      <state_interface name="imu_sensor/9"/>
      <state_interface name="imu_sensor/10"/>
    </sensor>
  </ros2_control>

</robot>
