<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!--
  Xacro macros were inspired on https://github.com/ros-mobile-robots/mobile_robot_description/wiki/
-->
<!-- ===================== Caster xacro =========================================
  params:
  - wheel_props [dictionary]: wheel properties;
  - base_props [dictionary]: base link properties;
  - mesh [string]: file name of the wheel mesh;
    - DEFAULT Value -> Empty string
-->

<!-- Caster wheel link & joint macro -->
  <xacro:macro name="caster_wheel"
                params="wheel_props scale:=''">
    <link name="caster_link">
      <xacro:box_inertia  m="${wheel_props['wheel']['mass']}"
                          x="${wheel_props['wheel']['size']['x']}"
                          y="${wheel_props['wheel']['size']['y']}"
                          z="${wheel_props['wheel']['size']['z']}"
                          o_xyz="0.0 0.0 ${-wheel_props['wheel']['size']['z']/2.0}"
                          o_rpy="0.0 0.0 0.0" />
      <xacro:if value="${wheel_props['wheel']['mesh'] != '' }" >
        <visual>
          <origin xyz="0 0 0" rpy="${pi} 0 ${pi/2}" />
          <geometry>
            <xacro:if value="${scale != '' }" >
              <mesh filename="package://andino_description/meshes/${robot_name}/${wheel_props['wheel']['mesh']}" scale="${scale}"/>
            </xacro:if>
            <xacro:if value="${scale == '' }" >
              <mesh filename="package://andino_description/meshes/${robot_name}/${wheel_props['wheel']['mesh']}" />
            </xacro:if>
          </geometry>
          <material name="silver"/>
        </visual>
      </xacro:if>
      <xacro:if value="${wheel_props['wheel']['mesh'] == '' }" >
        <visual>
          <origin xyz="0 0 ${-wheel_props['wheel']['size']['z']/2.0}" rpy="0 0 0" />
          <geometry>
            <box size="${wheel_props['wheel']['size']['x']} ${wheel_props['wheel']['size']['y']} ${wheel_props['wheel']['size']['z']}" />
          </geometry>
          <material name="red"/>
        </visual>
      </xacro:if>
      <collision>
        <origin xyz="0 0 ${-wheel_props['wheel']['radius']}" rpy="0 0 0" />
        <geometry>
          <sphere radius="${wheel_props['wheel']['radius']}" />
        </geometry>
      </collision>
    </link>
    <joint name="caster_base_joint" type="fixed">
      <origin xyz="${wheel_props['wheel']['dx']} ${wheel_props['wheel']['dy']} ${wheel_props['wheel']['dz']}"
              rpy="0 0 0" />
      <parent link="base_link" />
      <child link="caster_link" />
      <axis xyz="0 0 1" />
      <dynamics damping="0.01" friction="0.0"/>
    </joint>
  </xacro:macro>

</robot>
